.common-pagination {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 8px;
    height: 19px;
}

.common-pagination p {
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
}
.common-pagination p:hover {
    color: #aaaaaa;
}

.common-pagination span {
    color: #000;
    font-size: 20px;
}
