.container {
    width: 40%;
    padding: 50px 36px;
}

.element {
    display: inline-flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

    cursor: pointer;
}
