.main-header {
    height: 84px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 16px 80px;
    border-bottom: 1px solid #aaaaaa;
}

.main-header-box {
    display: flex;
    flex-direction: column;
}

.main-header-icon {
    width: 64px;
    height: 64px;

    margin-right: 12px;
}

.main-header-title {
    font-size: 32px;
    font-weight: bold;
}

.extra-icon {
    height: 50px;

    margin-left: 16px;
}
