.container {
    /*background-color: lightcoral;*/
    width: 100%;
    padding: 50px 220px;

    box-sizing: border-box;
}

.container-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.element {
    width: 100%;
    height: 48px;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 16px;
}

.element:hover {
    background-color: #dcdcdc;
    border: none;
}

.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.menu-title-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: lime;*/
}

.menu-title {
    font-size: 36px;
}

.toggle-button {
    border: none;
    height: 30px;
    width: 48px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #aaaaaa;
}

.toggle-button-left {
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    border-radius: 10px 0 0 10px;
}

.toggle-button-right {
    border: 1px solid lightgray;
    border-radius: 0 10px 10px 0;
}

.button-active {
    background-color: #aaaaaa;
}
