.container {
    width: 60%;
    padding: 100px 36px;

    box-sizing: border-box;
}

.container-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.element {
    line-height: 2.0;
    display: flex;
    align-items: center;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
